.welcome-page {
-fx-background-image: url("../images/background.jpg");
}

#doctorCard:hover, #patientCard:hover {
    -fx-opacity: 1;
}

.appointments-icon {

}

.diagnosis-icon {

}

.prescriptions-icon {

}

.users-icon {

}

.sidebar-btn {
-fx-background-color: transparent;
}